apiVersion: v1
kind: Secret
metadata:
  name: vsphere-creds
  namespace: vmware-topology
type: Opaque
data:
  vcenter.example.com.password: example_password_base64==
  vcenter.example.com.username: example_username_base64==
